<form>
  <label>Name</label>
  <input ng-model='parties.newParty.name'>
  <label>Description</label>
<input ng-model='parties.newParty.description'>
<button ng-click="parties.newParty.owner=$root.currentUser._id; parties.parties.save(parties.newParty); parties.newParty='';">Add</button>
</form>
<ul>
<li ng-repeat="party in parties.parties">
  <a href="/parties/{{party._id}}">{{party.name}}</a>
  <p>{{party.description}}</p>
  <button ng-click="parties.remove(party)">X</button>
</li>
</ul>
<button ng-click="parties.removeAll()">remove all</button>
